<h1>Site pour Test</h1>
<div style= "height: 200px"> Salut</div>
<%= link_to "Voir tous les hotels", hotels_path, class: "btn btn-flat", style: "margin-bottom: 20px; margin-top: 20px;" %> <br>
<%= link_to "Mieux nous connaître", about_path %> 
