.navbar-site {
  justify-content: space-between;
  background: lightgray;
  position: sticky;
  top: 0;
}

.navbar-site .navbar-collapse {
  flex-grow: 0;
}

.navbar-site .navbar-brand img {
  width: 40px;
}
